.diagnosticCarusel__img-first{
	background-image: url(../../../uikit/static/DiagnosticCarusel/2slider-01.jpg);
}
.diagnosticCarusel__img-second{
	background-image: url(../../../uikit/static/DiagnosticCarusel/2slider-02.jpg);
}
.diagnosticCarusel__img-three{
	background-image: url(../../../uikit/static/DiagnosticCarusel/2slider-03.jpg);
}