.universal {
  width: 510px;
  height: 100%;
  border: 1px solid #ffffff;
}

.universal-container {
  width: 510px;
  height: 570px;
}

.universal__window {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.universal__btn {
  position: absolute;
  z-index: 999;
  right: 10%;
}
@media (max-width: 1298px) {
  .universal__btn {
    right: 5%;
  }
}
@media (max-width: 1024px) {
  .universal-container {
    margin: 0 auto;
  }
  .universal__btn {
    right: 23%;
  }

}
@media (max-width: 768px) {

  .universal__btn {
    right: 13%;
  }

}
@media (max-width: 425px) {

  .universal__btn {
    right: 0%;
  }

}
