.dimensionCarusel__img-first{
	background-image: url(../../../uikit/static/DimensionCarusel/1slider-01.jpg);
	}
	.dimensionCarusel__img-second{
		background-image: url(../../../uikit/static/DimensionCarusel/1slider-02.jpg);
	}
	.dimensionCarusel__img-three{
		background-image: url(../../../uikit/static/DimensionCarusel/1slider-03.jpg);
	}
	